.upload-box-container {
    .upload-box {
        border-style: dashed;
        border-width: 2px;
        border-radius: 1rem;
        border-color: $gray-400;
        width: 100%;
        height: 300px;
        background-color: lighten($main-bg-color, 2%);
        display: flex;
        align-items: center;

        h6 {
            margin: auto;
        }
    }

    .selected-files-label {
        margin-top: 1rem;
        color: white;
    }

    .selected-files-list {
        list-style-type: disc;
        
        p {
            vertical-align: middle;
            display: inline;
        }

        .delete-button {
            display: inline-block;
            vertical-align: middle;
            border-radius: 9999px;
            padding: 0;
            width: 20px;
            height: 20px;
            font-size: 10px;
            margin-left: 10px;
            text-align: center;
        }
    }

    .hidden {
        display: none;
    }
}